<!DOCTYPE html>
<html>
  <head>
    <title>2048</title>
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel='stylesheet' href='stylesheets/style.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  </head>
  <body>
  <div id="main-container">
    <div id="header">
      <h1 class="title">2048</h1>
      <div class="score-container">
        <p>分数</p>
        <div id="score"></div>
      </div>
      <button class="restart">新游戏</button>
    </div>
  <div class="game-container">
    <div class="grid-container">
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
      </div>
      <div id="tile-container">
      </div>
      <div id="game-message">
        <div class="mask"></div>
        <p></p>
        <button class="restart">重新开始</button>
      </div>
    </div>
    </div>
    <!--template-->
    <script type="text/template" id="tile-template">
      <div class="grid-tile tile-<%= value %> cell-row-<%= row %> cell-column-<%= column %>"><%= value %></div>
    </script>
    <script type="text/javascript" src="javascripts/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="javascripts/underscore.js"></script>
    <script type="text/javascript" src="javascripts/backbone.js"></script>
    <script type="text/javascript" src="javascripts/backbone.localStorage-min.js"></script>
    <script type="text/javascript" src="javascripts/tile.js"></script>
    <script type="text/javascript" src="javascripts/collection.js"></script>
    <script type="text/javascript" src="javascripts/tileView.js"></script>
    <script type="text/javascript" src="javascripts/appView.js"></script>
    <script type="text/javascript" src="javascripts/application.js"></script>
  </body>
</html>